modules = ["nodejs-20", "postgresql-16"]

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "WhatsApp Bot"

[[workflows.workflow]]
name = "WhatsApp Bot"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node src/index.js"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 35773
externalPort = 3002

[[ports]]
localPort = 38369
externalPort = 3001

[[ports]]
localPort = 43865
externalPort = 3000

[[ports]]
localPort = 45225
externalPort = 3003

[userenv]

[userenv.shared]
OWNER_NUMBER = "6282378291916"
TARGET_NUMBER = "6285924800010"
DATABASE_URL = "postgresql://postgres:yeJoqBDXCHsRnYEcDlBYMAyWMTsFuuNg@gondola.proxy.rlwy.net:34157/railway"
NUMBER = "6285126033675 | 6282378291916"
